@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  main {
    @apply font-primary font-normal text-base h-screen w-screen overflow-hidden relative;
  }

  ::-webkit-scrollbar {
    background-color: transparent;
    width: 0.4rem;

    &-thumb {
      border-radius: 100rem;
      background-color: rgba(219, 219, 219, 0.2);
    }
  }
}
